@import
url(href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet")

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto:wght@800;400&display=swap');
body {
	/* background-color: #f1f3f4; */

	background-repeat: no-repeat;
  background-attachment: fixed;
	font-family: 'Anton', sans-serif;
	margin:auto;
	padding: 20px 100px 20px 100px;
	align-content:center;
}

h1{
	text-align: Left;
	color: #337ab7;
	margin: 0px;
	padding: 0px;
	font-family: 'Anton', sans-serif;
	font-size: 40px;
}

a {
  color: #337ab7;
  line-height:30px;
  font-size: 14px;

}

xmp{
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
  margin-bottom: 10px;
  overflow: auto;
  width: auto;
  padding: 5px;
  background-color: #eee;
  align-content:center;
  padding-bottom: 20px!ie7;
  max-height: 600px;
  margin:5px;
}
